@use '../../config/export.scss' as export;

#project-container {
  user-select: text;
  display: flex;
  align-items: flex-start;
  @media only screen and (max-width: 800px) {
    flex-direction: column;
    align-items: center;
  }
  justify-content: space-between;

  #left-part {
    margin-right: export.$margin;
    @media only screen and (max-width: 800px) {
      margin-right: 0px;
      margin-bottom: export.$margin;
    }
    display: flex;
    flex-direction: column;
  }

  #texts {
    #title {
      display: flex;
      align-items: center;
      width: 100%;
      margin-bottom: export.$margin;

      #first {
        font-size: 25px;
        font-weight: bold;
      }

      #second {
        font-style: oblique;
        font-size: 20px;
      }
    }

    #description {
      display: flex;
      align-items: center;
      font-size: 20px;
      height: 100%;
    }
  }

  #right-part {
    display: flex;
    align-items: center;
    height: 100%;

    #slider-frame {
      overflow: hidden;
      min-width: 350px;
      max-width: 350px;
      @media only screen and (max-width: 500px) {
        min-width: 300px;
        max-width: 300px;
      }
      background-color: export.$cloudy;
      border: 2px solid export.$light;
      border-radius: export.$borderRadius;
      cursor: help;
      transition: all 0.3s;

      &:hover {
        transform: scale(1.05);
      }

      &:active {
        transform: scale(0.95);
      }

      #slider {
        display: flex;
        transition: 750ms;
      }
    }
  }
}