#button-container {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 15px;
  height: 50px;
  transition: transform 0.1s;
  font-weight: bold;
  font-size: 25px;

  #icon {
    display: flex;
    align-items: center;
    font-size: 25px;
  }
}

.anim {
  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }
}