@use '../../config/export.scss' as export;

#modalbase-container {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  height: 100%;
  min-width: 100vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;

  #body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: export.$margin;
    background-color: export.$secondary;
    padding: export.$padding;
    border-radius: export.$borderRadius;

    #title {
      font-weight: bold;
      font-size: 50px;
      text-align: center;
      color: export.$light;
    }
  }
}